.horario {
  margin-bottom: -70px;
}
/* .break_horario ~ .horario {
  margin-bottom: -0px;
} */
.break_horario + .horario {
  margin-top: 40px;
}

.horario + .break_horario {
  /* display: none; */
}
